<!DOCTYPE html>

<html>
  <head>
    <title>Multiple File Upload in Node and Express</title>

    <body>
      <div>
        <form method="post" action="/upload" enctype="multipart/form-data">
          <input type="file" name="files" />

          <button type="submit">Upload</button>
        </form>
      </div>
    </body>
  </head>
</html>
